<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ont true layout</title>
<style>
body{width: 500px; margin: 1px auto;}
/*id 선택자*/
#top{background: green;}
#middle{overflow: hidden;}
#left{background: red; float : left; width: 30%; overflow: hidden;}
/*얘의 부모인 미들의 30%다*/
#right{background: blue; float:left ; width: 70%;}
#bottom{background: purple;}


</style>



</head>
<body>
<div id="top">
dhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtm </div>

<div id="middle">

	<div id="left">
dhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtm 
   </div>
	<div id="right">
dhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtm
dhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtm
dhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtm
dhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtm
dhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtm
dhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtm
dhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtm
dhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtm
dhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtm
dhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtm

   </div>
</div>

<div id="top">
dhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtmdhskskskk fkwpszk tpdlqmdjtm 
  </div>


</body>
</html>

