<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>one true layout </title>
<style>
      body{
      					width: 960px;
      					margin: 10px auto;
      }

       #top{ background: green;}
       #middle{overflow: hidden;    }
       #left{ background: red;    float: left;  width: 30%; }
       #right{background: blue;  float: left;   width: 70%;  }
       #bottom{background: purple; }
</style>
</head>
<body>
  <div id="top">
  		Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </div>
  <div id="middle">
  		<div id="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
  		<div id="right">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
  </div>
  <div id="bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
  
</body>
</html>